act.secrets
magra*.yml
*.command
*.env
.coverager*
.coverage
.idea/

build
*.egg-info
*.log
__pycache__
src/nebula/utils/data/*.json
**/.DS_Store

# Devenv
.devenv*
devenv.local.nix
.direnv
.envrc

# ?
nbs/

# VSCode
.vscode/settings.json
.vscode/

#Model weights
melody/weights

# Playground config
playground_config.py
/.venv
